body, html {
    height: 100vh;
    margin: 0;
    padding: 0;
  }
  
#root {
    height: 100vh;
  }  



.background-image {
  position: relative;
}

.background-overlay {
  position: relative;
  padding-top: 1.5rem;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5); /* Adjust the opacity here */
}

.main-page-title {
    position: relative;
    z-index: 1; /* Bring the content to the front */
  }

